version: '3'

services:
  thunder-voter:
    container_name: thunder-voter
    image: thundercore/thunder:${IMAGE_VERSION}
    hostname: thunder-voter
    ports:
      - 8545:8545
      - 8546:8546
      - 9201:9201
    env_file:
      - ./.env
    environment:
      - CONFIG_PATH=/config/fastpath/pala
    volumes:
      - ./data:/datadir
      - ./configs:/config/fastpath/pala
      - ./logs:/logs
      - ./keystore:/keystore
    entrypoint: [ "/tini", "--", "/entrypoint.sh" ]
    restart: always
