version: '3'

services:
  thunder-validator:
    container_name: thunder-validator
    image: thundercore/thunder:${IMAGE_VERSION}
    hostname: thunder-validator
    ports:
      - 9201:9201
    env_file:
      - ./.env
    environment:
      - CONFIG_PATH=/config/fastpath/pala
    volumes:
      - ./data:/datadir
      - ./configs:/config/fastpath/pala
      - ./logs:/logs
      - ./keystore:/keystore
    entrypoint: [ "/sbin/tini", "--", "/entrypoint.sh" ]
    restart: always
